{% load static %}
{% load nomad_tags %}

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16690448-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-16690448-13');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'nomadmain/css/style.css' %}" rel="stylesheet">
    <title>{% block title %}NOMAD Sim Racing{% endblock title %}</title>
</head>
<body>
    <header>
        <div id="header-stuff">
            <div id="logo"><a href="{% url 'index' %}"><img src="{% static 'nomadmain/images/square-transparent-micro.png' %}" class="logo-image"> <span class="logo-text"><strong>&nbsp;NOMAD</strong> <em>Sim Racing</em></span></a></div>
            <div id="header-middle"></div>
            <div id="nav-toggle">&#9776;</div>
        </div>
        <nav>
            <ul>
                <a href="{% url 'index' %}"><li>Home</li></a>
                <a href="{% url 'team_list' %}"><li>Team</li></a>
                <!--<a href="{% url 'result_list' %}"><li>Results</li></a>-->
                <a href="{% url 'article_list' %}"><li>Blog</li></a>
                <a href="{% url 'live_now' %}"><li>Live Now</li></a>
                <!--<a href="{% url 'events' %}"><li>Events</li></a>-->
                {% static_page_list %}
            </ul>
        </nav>
    </header>

    {% block content %}
    <div id="hero-container" class="row hero-row">
        <video poster="{% static 'nomadmain/images/static-background.png' %}" id="bgvid" playsinline autoplay muted loop>
            <source src="{% static 'nomadmain/images/home-background.webm' %}" type="video/webm">
        </video>
        <div id="hero-message" class="homepage-section"><h1>WE<br> ARE<br> NOMAD</h1></div>
    </div>
    <div id="team-container" class="row main-row">
        <div id="team-left-arrow" class="arrow arrow-left"></div>
        <div id="team-slider" class="homepage-section">
            {% for user in visibile_users %}
            <!--<a href = "{% url 'team_member' user.teammember.slug %}" id="tt{{ forloop.counter0 }}" class="team-member-title">{{ user.first_name }} {{user.last_name }}</a>
            <a href = "{% url 'team_member' user.teammember.slug %}" id="tb{{ forloop.counter0 }}" class="team-member-body" style="background: url('{% if user.teammember.profile_photo %}{{ user.teammember.profile_photo.url }} {% else %} {% static 'nomadmain/images/square-transparent-micro.png' %}{% endif %}'); background-position: 50%; background-size: cover;"></a>-->
            <a href = "{% url 'team_list' %}" id="tt{{ forloop.counter0 }}" class="team-member-title">{{ user.first_name }} {{user.last_name }}</a>
            <a href = "{% url 'team_list' %}" id="tb{{ forloop.counter0 }}" class="team-member-body" style="background: url('{% if user.teammember.profile_photo %}{{ user.teammember.profile_photo.url }} {% else %} {% static 'nomadmain/images/square-transparent-micro.png' %}{% endif %}'); background-position: 50%; background-size: cover;"></a>
            
            {% endfor %}
        </div>
        <div id="team-right-arrow" class="arrow arrow-right"></div>
        <h1 id="team-title"><a href="{% url 'team_list' %}">THE TEAM</a></h1>
    </div>
    {% if live_stream != None %}
    <div id="live-container" class="row main-row">
        <h1 id="live-title">LIVE NOW</h1>
        <div id="live-preview" class="homepage-section">
            <div class="videoWrapper">
                <iframe src="{{live_stream.embed}}" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
            </div>   
        </div>
    </div>
    {% endif %}
    {% if articles %}
    <div id="news-container" class="row main-row">
        <h1><a href="{% url 'article_list' %}">LATEST NEWS</a></h1>
        <div id="news-wrapper">
            {% for article in articles %}
            
            <div class="news-article">
                <a href = "{% url 'article' article.slug %}">
                {% if article.image %}<img src="{{ article.image.url }}" alt="{{ article.title }}" />{% endif %}
                <h5 class="news-title">{{ article.title }}</h5>
                </a>
            </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endblock content %}
    
    <footer>
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'nomadmain/images/square-transparent-micro.png' %}" class="logo-image">
                <span class="logo-text"><strong>&nbsp;NOMAD</strong> <em>Sim Racing</em></span>
            </a>
        </div>
        
    </footer>
    
    <script>
        function gotoURL(url) {
            window.location.href = url;
        }
        $( document ).ready(function() {
            $('#nav-toggle').click(function() {
                $('nav').toggle();
            });
            
            $('.arrow').click(function() {
                window.location.href = "{% url 'team_list' %}";
            });
        });
    </script>
</body>


